<!DOCTYPE html>
<html>
  <head>
    <title>ShortenerUrlApp</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag image_url("/favicon.ico") %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <center>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key} text-center", id: "flash" %>
      <% end %>
      <%= yield %>
    </center>
  </body>
</html>
